<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head  th:replace="~{layout/plantilla :: head}">
        <title>Segdyma</title>
        <meta charset="UTF-8"/>

    </head>
    <body>

        <section th:fragment="listadoCategorias">
            <div class="container mt-4">
                <h4 class="mb-4">[[#{categoria.listado}]]</h4>
                <div th:if="${categorias != null and !categorias.empty}">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <!-- Iterar sobre las categorías -->
                        <div class="col" th:each="c : ${categorias}">
                            <div class="card h-100 shadow-sm">
                                <!-- Imagen de la categoría -->
                                <img th:src="@{${c.rutaImagen}}" class="card-img-top img-fluid" 
                                     alt="Imagen Categoría" style="height: 200px; object-fit: cover;"/>
                                <div class="card-body text-center">
                                    <!-- Descripción de la categoría -->
                                    <h5 class="card-title">[[${c.descripcion}]]</h5>
                                </div>
                                <div class="card-footer text-center bg-light">
                                    <!-- Botón para ver productos -->
                                    <a class="btn btn-success btn-sm w-100" 
                                       th:href="@{/categoria/{idCategoria}/productos(idCategoria=${c.idCategoria})}">
                                        [[#{accion.verProductos}]]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mensaje si no hay categorías -->
                <div th:if="${categorias == null or categorias.empty}" class="text-center mt-4">
                    <h4 class="text-danger">[[#{lista.vacia}]]</h4>
                </div>
                <!-- Botón para regresar -->
                <div class="mt-4">
                    <a class="btn btn-primary" th:href="@{/menu}">[[#{accion.regresar}]]</a>
                </div>
            </div>
        </section>
    </body>
</html>
