<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head  th:replace="~{layout/plantilla :: head}">
        <title>Segdyma</title>
        <meta charset="UTF-8"/> 
    </head>
    <body>


        <section th:fragment="listadoProductos">
            <div class="container mt-4">
                <h4 class="mb-4">[[#{producto.listado}]]</h4>
                <div th:if="${productos != null and !productos.empty}">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <!-- Iteración para mostrar productos -->
                        <div class="col" th:each="p : ${productos}">
                            <div class="card h-100 shadow-sm">
                                <!-- Imagen del producto -->
                                <img th:src="@{${p.rutaImagen}}" class="card-img-top img-fluid" 
                                     alt="Imagen Producto" style="height: 200px; object-fit: cover;"/>
                                <div class="card-body">
                                    <!-- Nombre del producto -->
                                    <h5 class="card-title text-center">[[${p.descripcion}]]</h5>
                                    <!-- Descripción -->
                                    <p class="card-text">[[${p.categoria.descripcion}]]</p>
                                    <!-- Precio -->
                                    <p class="fw-bold text-success">Precio: $[[${p.precio}]]</p>
                                </div>
                                <div class="card-footer text-center bg-light">
                                    <!-- Botón Agregar al carrito -->
                                    <a class="btn btn-success btn-sm w-100" 
                                       th:href="@{/carrito/agregar/{idProducto}(idProducto=${p.idProducto})}">
                                        <i class="fas fa-cart-plus"></i> [[#{producto.agregarCarrito}]]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mensaje si no hay productos -->
                <div th:if="${productos == null or productos.empty}" class="text-center mt-4">
                    <h4 class="text-danger">[[#{lista.vacia}]]</h4>
                </div>
                <!-- Botón para regresar -->
                <div class="mt-4">
                    <a class="btn btn-primary" th:href="@{/menu}">[[#{accion.regresar}]]</a>
                </div>
            </div>
        </section>
